<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" content-type="text/css">
    <title>Wikiclone</title>
</head>
<body>
    <header>
        <br>
        <button id="anmeldung">Anmelden</button>
    </header>
    <div class="sidebar">
        <div class="profile">
            <!-- Profile Image -->
            <!-- Profile Title & Description -->
            <!-- todo: logo -->
            <img id="wiki_logo" width="400px" height="400px" src="{% static 'images/wikilogo.png' %}"/> <!-- width and height doesn't register -->
        </div>
        <ul>
          <li><a href="#">search</a></li>
            <li>Kek</li>
            <li>Kek</li>
            <li>Kek</li>
            <li>Kek</li>
            <li>Kek</li>
        </ul>
    </div>
    <div class="main-content">
        <h1>The More You Know</h1>
        <hr width="90%">
        <p>Hello, fuuuuuu!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sint porro rem saepe facere ipsum at harum amet maiores! Deserunt,
            architecto autem! Mollitia accusantium, dolorem minima vitae perferendis fuga possimus?</p>
        <p>fuck you</p>
    </div>
</body>
</html>
