* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f6fa;
}

/* nav bar */
#sidebar {
    /* background: rgb(5, 68, 104); */
    position: fixed;
    top: 50px;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    text-align: center;
}

#sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

/* main content */
.main-content {
    margin-left: 225px;
    margin-right: 100px;
    vertical-align: middle;
    margin-top: 50px;
}

#wiki_logo {
    width: 150px;
    height: 150px;
}

/* Button */
#anmeldung {
    float: right;
    margin: 1em;
}
